body {
	margin:5px;
	padding:0;
	text-align: center;
	font:14px/1.5 sans-serif; 
}

.lightbox {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    background:rgb(0,0,0);
	background: transparent\9;
	background:rgba(0,0,0,0.1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
	zoom: 1;
}
}
.div:nth-child(n) {
	filter: none;
}
.modal {
	width: 300px;
	border:1px solid #ddd;
	margin:auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border:1px solid #ddd;
}	
.modal h3 {
	position: relative;
	background:#808080;
	margin:0;
	padding:4px 9px;
	color:#ddd;
	text-align: left;
	font-weight: normal;
	text-shadow:1px 1px 2px #666;
}
.modal h3 span {
	display: block;
	position: absolute;
	right:10px;
	top:4px;
	font-weight: normal;
	font-size:22px;
	width:22px;
	height: 22px;
	background:transparent url(http://www.dkipps.com/temp/lightbox/sprite.png) no-repeat;
}
.modal h3 span:hover {
	cursor:pointer;
	background-position:left -22px;
}
.modal h3 span strong {
	display:none;
}
.modal-body {
	background:#fff;
	padding:18px 0;
	position: relative;
}
.modal .progress {
	width:160px;
	height: 14px;
	border: 1px solid #ddd;
	margin: 0 auto 16px auto;
	position: relative;
}
.modal .progress .percent {
	display: block;
	height: 15px;
	width:0;
	background: #67a4d0 url(http://www.dkipps.com/temp/lightbox/sprite.png) repeat-x left -100px;
}
.complete .progress .percent {
	background: #00b000 url(http://www.dkipps.com/temp/lightbox/sprite.png) repeat-x left -115px;
}
.modal .progress .progress-active { /* CSS transitions not used as IE 8 */
     -webkit-transition:2s linear all;
  	transition:2s linear all;
   	width:160px !important;
}
.modal p {
	color:#808080;
	margin:0 18px;
	padding:0;
	font-size: 16px;
}
.complete .feedback .label {
	display: inline-block;
}
.complete .icon-tick {
	width:20px;
	height: 20px;
	display: inline-block;
	background:transparent url(http://www.dkipps.com/temp/lightbox/sprite.png) no-repeat left -50px;
}
button {
	display: none;
	padding: 6px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 4px;
	border:1px solid #ddd;
	background:#efefef;
	margin:50px;
}
button span {
	background:transparent url(http://www.dkipps.com/temp/lightbox/sprite.png) no-repeat -50px 0;
	width:17px;
	height:16px;
	display:block;
	float:left;
	margin-right:5px;
	margin-top:-1px;
}
button:hover {
	background:#fff;
}
/* for small screens */
@media (max-width:400px) {
	.modal {
		width: auto;
		margin-left:30px;
		margin-right:30px;
	}	
}
